@import url('/assets/fonts/fonts.css');

:root{
    --black: #191818; /* #202124 */
    --background-color: #292a2d;
    --news-color: #1f1f1f;
    --btn-color: #f6311f;
    --btn-hover: #e31300;
    --btn-hover2: #fff076;
}
*{
    margin: 0;
    padding: 0;
    font-family: "STIX TWO text", "Noto sans", sans-serif;
}
body{
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: white;
    user-select: none;
    transition: background-color 100ms ease-in;
    transition: color 80ms ease-in;
}
a:hover{
    color: var(--btn-color);
}
button{
    background-color: var(--btn-color);
}
button:hover{
    background-color: var(--btn-hover);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flex-direction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nav-bar{
    height: 90px;
    background-color: var(--black);
}
.nav-items{
    width: 88%;
    gap: 20px;
    justify-content: space-evenly;
}
.lt-nav img{
    width: 60px;
}
.search-icon, .search-icon-hover{
    width: 30px;
    cursor: pointer;
}
.search-icon-hover{
    display: none;
}
.rt-nav form{
    user-select: none;
}
.rt-nav form input{
    width: 250px;
    padding: 7px 12px;
    border-radius: 7px;
    border: none;
}
.rt-nav form input:focus-visible{
    outline: 2.2px solid var(--btn-color) !important;
}
.rt-nav form button[type="submit"]{
    background-color: var(--black);
    border: none;
}
.rt-nav form button:hover :first-child{
    display: none;
}
.rt-nav form button:hover :last-child{
    display: block;
}
.mdl-nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav-list-items{
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.nav-list-items:hover{
    color: var(--btn-color);
}

.trending-nav{
    background-color: rgba(255, 94, 0, 0.966);
    height: 66px;
}
.trending-nav-items{
    width: 80%;
    justify-content: flex-start;
    align-items: flex-end;
}
.trending-nav-items:first-child{
    gap: 30px;
}
.lt-trending h3{
    font-size: 19px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lt-trending h3 img{
    height: 20px;
}
.rt-trending a{
    font-size: 17px;
    color: white;
    font-weight: 400;
}
.rt-trending a:hover{
    color: var(--btn-hover2);
}
.news-section{
    background-color: var(--background-color);
}
.news-section-content{
    width: 73%;
    padding: 40px;
}
.lt-news h2{
    color: white;
    font-size: 28px;
}
.rt-news h2{
    color: white;
    font-size: 28px;
}
.news{
    display: grid;
    grid-template-columns: 69% 30%;
    gap: 1%;
}
.lt-news, .rt-news{
    padding: 16px 16px 16px 30px;
    background-color: var(--news-color);
    border-radius: 12px;
    flex-direction: column;
}
.rt-news{
    height: 390px;
}
.news-container{
    border-top: 1px solid #acacac;
    width: 100%;
    margin: 10px;
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 1%;
}
.news-01, .news-02-section{
    align-items: flex-start;
    width: 96%;
    gap: 3px;
}
.news-01{
    width: 90%;
}
.news-02{
    justify-content: space-evenly;
    height: 88%;
}
.news-02-section, .rt-news-grid{
    border-bottom: 1px solid #acacac;
    padding-bottom: 5px;
}
.news-02-section:last-child, .rt-news-grid:last-child{
    border: none;
}
.news-01>*, .news-02-section>*{
    color: white;
}
.news-01 img{
    margin: 15px 0;
    border-radius: 16px;
    /* width: 300px; */
    width: 100%;
}
.news-ago{
    font-weight: 300;
    margin: 3px 0;
    color: rgb(235, 231, 231);
}
.news-01-heading{
    font-size: 16px;
    cursor: pointer;
}
.category-label{
    font-size: 15px;
    cursor: pointer;
}
.news-02-heading{
    font-size: 14px;
    cursor: pointer;
}

/* FOR YOU */

.news-container-content{
    padding: 10px 0;
    justify-content: space-evenly;
    height: 100%;
}
.rt-news-grid{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 5px;
}
.lt-rt-news{
    gap: 0;
    color: white;
    align-items: flex-start;
}
.lt-rt-news h5:first-of-type{
    font-size: 12px;
}
.rt-rt-news img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    top: 20px;
}

/* FOOTER */

footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.footer {
    color: white;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.rt-footer img,
.rt-footer svg {
    height: 20px;
    padding: 10px;
}

/* PAGINATION */

.pagination{
    background-color: var(--background-color);
    color: white;
}
.pagination a.active{
    color: var(--btn-hover2);
}

@media screen and (max-width:1000px) {
    .news-section-content{
        width: 90%;
    }
    /* .rt-news{
        display: none;
    } */
    .news{
        /* grid-template-columns: 100%; */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .rt-news h2{
        margin-top: 30px;
    }
    .rt-rt-news{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rt-rt-news img{
        width: 80%;
        position: static;
    }
    /* footer{
        position: absolute;
        bottom: 0;
    } */
}